<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>stackables</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" href="/icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png" />
<style>
section {text-align:center;}
form {display:inline-block;text-align:right;}
div {margin-bottom:10px;}
#error,.alert {color:red;}
</style>
</head>
<body>
<section>
	<h1>stackables login</h1>

	<form id="login-form" action="/login" method="post">
		<h2>login</h2>
		<% if (messages) { %>
			<div class="alert"><%= messages %></div>
		<% } %>
		<div>
			email: 
			<input name="email" id="login-email" type="text" autocapitalize="off" autocorrect="off" autofocus="autofocus" />
		</div>
		<div>
			pass: 
			<input name="password" id="login-password" type="password" />
		</div>
		<button type="submit">login</button>
	</form>
</section>
<hr />
<section>
	<form id="signup-form" action="/signup" method="post">
		<h2>signup</h2>
		<div>
			email: 
			<input id="signup-email" type="text" autocapitalize="off" autocorrect="off" />
		</div>
		<div>
			pass: 
			<input id="signup-password" type="password" />
		</div>
		<button type="submit">signup</button>
	</form>

</section>


</body>
</html>
