/* 
 * reset 
 *
 * note: resets define appearance of
 * note content in HTML form.
 */
body {
	margin:0;
	padding:0;
	font-family:'Source Sans Pro', sans-serif;
}
/*
 * headings
 */
h1,h2,h3,h4,h5,h6 {margin:1em 0 1em 0;}
h1,h2,h3,h4 {font-weight:normal;}
h5,h6 {font-weight:bold;}
h1 {font-size:2.00em;}
h2 {font-size:1.75em;}
h3 {font-size:1.50em;}
h4 {font-size:1.25em;}
h5 {font-size:1.00em;}
h6 {font-size:1.00em;}
/*
 * code blocks
 */
pre { 
	margin:1em;
	border:1px solid #CCC; 
	padding:10px;
	overflow:auto;
	-webkit-overflow-scrolling:touch; 
}
/*
 * tables
 */
table {border-collapse:collapse;}
table, th, td {
	border:1px solid rgb(245,242,240);
	margin:1em 0 1em 0;padding:0;}
th {background-color:rgb(245,242,240);}
td,th {padding:5px;}
/*
 * divs, paragraphs, blockquotes 
 */
div {margin:0;border:0;outline:0;padding:0;}
p {margin:0 0 0.5em 0;border:0;outline:0;padding:0;}
blockquote {margin:1em 1.5em 1em 1.5em;border:0;outline:0;padding:0;}
/* 
 * character styles
 */
b,strong {font-weight:bold;}
i,em {font-style:italic;}
a {text-decoration:none;word-wrap:break-word;}
/* 
 * horizontal rules 
 */
hr {
	border:0;
	border-top:1px solid;
	margin:10px 0 10px 0;
	border-color:rgb(225,222,220);
}
/* -------------------------------------
 * App styles
 */
hr.rule {
	border:0;
	border-top:1px solid;
	margin:10px 0 10px 0;
}
div.app {
	margin:0;
	padding:0;
	outline:0;
	border:0;
	background:white;
}
/*
 * app header
 */
header.app {
	padding:10px 0 10px 0;
	margin:0;
	overflow:hidden;
	font-size:1em;
}
h1.app-header {
	text-align:center;
	margin:5px;
	font-size:1em;
	font-weight:normal;
}
/*
 * app footer
 */
footer.app {
	padding:10px 0 10px 0;
	margin:10px 0 0 0;
	border-top:1px solid;
	overflow:hidden;
	font-size:0.8em;
}
h1.app-footer {
	text-align:center;
	margin:5px;
	font-size:1em;
	font-weight:normal;
}
a.app-footer {color:inherit;}
a.app-footer:hover {text-decoration:underline;}
/*
 * note view
 */
section.notes {
	margin:1px 0 1px 0;
}
article.note {
	margin:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1.note {
	font-size:1em;
	margin:0;
	padding:10px;
	border:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
section.note-body {
	margin:0;
	padding:5px 15px 50px 15px;
	display:none;
}
/*
 * edit view
 */
div.edit-view {
	text-align:center;
}
/*
 * edit note view
 */
div.edit-note-pane {
	text-align:center;
}
/*
 * edit user view (settings)
 */
div.edit-user-pane {
	text-align:center;
}
ul.stack-manager-list {
	list-style-type: none;
}
li.stack-manager-list {
	text-align:left;
	padding:0;
	margin-bottom:5px;
}
/* 
 * buttons 
 */
div.buttons {
	text-align:center;
}
div.note-view-buttons {
	text-align:right;
}
div.button-input {
	text-align:center;
	border:0;
	margin:5px;
	padding:0;
}
input.button {
	display:inline-block;
	margin:1px 0 1px 0;
	border:0;
	height:50px;
	width:40%;
	border-radius:5px;
	-webkit-appearance: none;
}
input.small-button {
	display:inline-block;
	margin:1px 0 1px 0;
	padding: 5px;
	border:0;
	border-radius:2px;
	-webkit-appearance: none;
}
input.edit-note-button {
	height:35px;
	width:100px;
	box-sizing:border-box;
}
/*
 * dropdowns
 */
div.select-input {
	text-align:center;
	border:0;
	margin:5px;
	padding:0;
}
select.dropdown {
	font-size:0.8em;
	-webkit-appearance: none;
	padding:5px;
	width:80%;
}

/* 
 * forms 
 */
form.form {padding:5px;}
h1.form {font-size:1.2em;font-weight:bold;text-align:center;}
h2.form {font-size:1.0em;font-weight:bold;text-align:center;}
section.form {border:1px solid #aaa;padding:5px;margin:5px 0 5px 0;}
/* 
 * text inputs 
 */
div.text-input {text-align:left;margin:5px;padding:0;}
span.text-input-label {display:block;font-size:0.9em;text-align:left;}
input.text {width:95%;}
/*
 * text area
 */
textarea.textarea {
	min-width:95%;
	min-height:24em;
}

