<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>stackables</title>
    	<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="style.css" />
    </head>
    <body>
		<div id="app">
			<header>
				<input type="button" class="button settings" value="settings" />
				<input type="button" class="button logout" value="logout" />
				<input type="button" class="button add" value="add" />
			</header>
			<section id="notes">
				<!-- notes will be inserted here -->	
			</section>
			<footer>
				 backbone.js | node.js | marked.js
			</footer>
		</div>
		<script src="json2.js"></script>
		<script src="jquery-2.0.3.js"></script>
		<script src="underscore.js"></script>
		<script src="backbone.js"></script>
		<script src="marked.js"></script>
		<script src="client-app.js"></script>
		<script type="text/template" id="note-template">
			<h1 class="note-heading"><%- name %></h1>
			<section class="note-body inactive-note">
				<input type="button" class="button edit" value="edit" />
			</section>
		</script>
		<script type="text/template" id="edit-note-template">
			<header class="edit-note-buttons">
				<input type="button" class="button delete" value="delete" />
				<input type="button" class="button close" value="close" />
			</header>
			<input type="text" class="edit-name" value="<%- name %>" />
			<div class="textarea">
				<textarea class="edit-markdown"><%- markdown %></textarea>
			</div>
		</script>
    </body>
</html>
