/* 
 * reset 
 */
body {
	margin:0;
	padding:0;
	font-family:'Source Sans Pro', sans-serif;
}
h1 { font-size:2.00em;font-weight:normal;margin:1em 0 1em 0; }
h2 { font-size:1.75em;font-weight:normal;margin:1em 0 1em 0; }
h3 { font-size:1.50em;font-weight:normal;margin:1em 0 1em 0; }
h4 { font-size:1.25em;font-weight:normal;margin:1em 0 1em 0; }
h5 { font-size:1.00em;font-weight:bold;margin:1em 0 1em 0;  }
h6 { font-size:1.00em;font-weight:bold;margin:1em 0 1em 0; }
pre { 
	margin:1em;
	border:1px solid #CCC; 
	padding:10px;
	overflow:auto;
	-webkit-overflow-scrolling:touch; 
}
div {margin:0;border:0;outline:0;padding:0;}
p {margin:0 0 0.5em 0;border:0;outline:0;padding:0;}
blockquote {margin:1em 1.5em 1em 1.5em;border:0;outline:0;padding:0;}
b,strong {font-weight:bold;}
i,em {font-style:italic;}
a {text-decoration:none;word-wrap:break-word;}
/* 
 * App header/footer
 */
div.app {margin:0;padding:0;outline:0;border:0;background:white;}
header.app {padding:10px 0 10px 0;margin:0;overflow:hidden;font-size:1em;}
h1.app-header {text-align:center;margin:5px;font-size:1em;font-weight:normal;}
footer.app {padding:10px 0 10px 0;margin:10px 0 0 0;border-top:1px solid;overflow:hidden;font-size:0.8em;}
h1.app-footer {text-align:center;margin:5px;font-size:1em;font-weight:normal;}
a.app-footer {color:inherit;}
a.app-footer:hover {text-decoration:underline;}
/*
 * note view
 */
section.notes {margin:1px 0 1px 0;}
article.note {margin:0;}
h1.note {
	font-size:1em;
	margin:0;
	padding:10px;
	border:0;
}
section.note-body {
	margin:0;
	padding:5px 15px 50px 15px;
}
article.inactive-note > section.note-body {
	display:none;
}
/*
 * edit view
 */
div.edit-view {
	text-align:center;
}
/*
 * edit note view
 */
div.edit-note-pane {
	text-align:center;
}
/*
 * edit user view
 */
div.edit-user-pane {
	text-align:center;
}
/* 
 * buttons 
 */
div.buttons {
	text-align:center;
}
div.note-view-buttons {
	text-align:right;
}
div.button-input {
	text-align:center;
	border:0;
	margin:5px;
	padding:0;
}
input.button {
	display:inline-block;
	margin:1px 0 1px 0;
	border:0;
	height:50px;
	width:90%;width:40%;
	border-radius:5px;
	-webkit-appearance: none;
}
input.b1 {height:50px;width:45%;font-size:1em;}
input.b2 {height:50px;width:45%;font-size:1em;}
input.b3 {height:50px;width:45%;font-size:1em;}
input.b4 {height:50px;width:45%;font-size:1em;}
input.edit-note-button {
	height:35px;
	width:100px;
	box-sizing:border-box;
}
/*
 * dropdowns
 */
div.select-input {
	text-align:center;
	border:0;
	margin:5px;
	padding:0;
}
select.dropdown {
	font-size:0.8em;
	-webkit-appearance: none;
	padding:5px;
	width:80%;
	/*display:inline-block;
	margin:0;
	padding:5px;
	-webkit-appearance: none;
	border:1px solid;
	width:90%;
	text-align:center;
	min-height:50px;*/
}

/* 
 * forms 
 */
form.form {padding:5px;}
h1.form {font-size:1.2em;font-weight:bold;text-align:center;}
h2.form {font-size:1.0em;font-weight:bold;text-align:center;}
section.form {border:1px solid #aaa;padding:5px;margin:5px 0 5px 0;}
/* 
 * text inputs 
 */
div.text-input {text-align:left;margin:5px;padding:0;}
span.text-input-label {display:block;font-size:0.9em;text-align:left;}
input.text {display:inline-block;border-sizing:border-box;width:90%;}
.success > .feedback {color:#88aa33;}
.success > .feedback:before {content:"✓";margin-left:5px;font-size:1.5em;line-height:1px;}
.error > .feedback {color:#aa5533;}
.error > .feedback:before {content:"✗";margin-left:5px;font-size:1.5em;line-height:1px;}
/*
 * text area
 */
div.textarea {
	position:relative;
	height:24em;
}
textarea.textarea {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	padding:5px;
	resize:none;
}
/* 
 * enhancement for large screens 
 */
@media screen and (min-width:800px) {
	body {text-align:center;}
	div.app {
		width:800px;
		display:inline-block;
		text-align:left;
		margin-top:5px;
		margin-bottom:5px;
		border-radius:5px;
		overflow:hidden;
	}
	section#notes {
		text-align:left;
	}
	header.app {
		padding-right:10px;
		margin-bottom:10px;
	}
	footer.app {
		border-top: 1px solid;
	}
	h1.app-header {
		text-align:left;
		padding-left:10px;
		padding-bottom:0;
		vertical-align:sub;
		font-size:1.5em;
		border-bottom:1px solid;
	}
	/*
	 * note view
	 */
	article.note {
		margin:10px 0 10px 0;
		display:inline-block;
		vertical-align:middle;
		text-align:left;
		width:100%;
		border:1px solid #888;
		border-radius:5px;
		box-sizing:border-box;
	}
	article.inactive-note {
		margin:0;
		width:33.333%;
		border:0;
	}
	h1.note {
		height:3em;
		font-size:1em;
		border-radius:5px;
		line-height:3em;
		text-align:center;
	}
	h1.note > span {
		display:inline-block;
		line-height:1.2em;
		vertical-align:middle;
	}
	section.note-body {
		margin:0;
		padding:5px 15px 5px 15px;
	}
	article.inactive-note > section.note-body {
		display:none;
		padding:0;
		height:0;
		margin:0;
	}
	/* 
	 * buttons 
	 */
	div.buttons {
		text-align:right;
		padding:5px;
	}
	.button-input {
		display:inline-block;
		vertical-align:top;
		margin:0;
		outline:0;
		padding:0;
	}
	input.button {
		display:inline-block;
		margin:0;
		outline:0;
		min-height:50px;
		width:auto;
		padding: 0 10px 0 10px;
		min-width:100px;
	}
	input.b1 {min-height:80px;min-width:200px;font-size:1em;}
	input.b2 {min-height:60px;min-width:100px;font-size:0.8em;}
	input.b3 {min-height:40px;min-width:75px;font-size:0.6em;}
	input.b4 {min-height:20px;min-width:50px;font-size:0.4em;}

}


